{{ define "main"  }}
<main aria-role="main">
  <div class="home">
    <div class="container">
      <div class="interests">
        {{ $pages := where site.RegularPages "Type" "interests" }}
        {{ range ($pages.ByParam "noindex").Reverse }}
        {{ $dashedInterest := replace .Params.interest " " "-" }}
        {{ if .Params.noindex }}
        <a class="interest interest--todo interest--{{ lower $dashedInterest }}" href="{{ .Permalink  }}">
        {{ else }}
        <a class="interest" href="{{ .Permalink  }}">
        {{ end }}
          <div class="interest__thumb">
            {{ if .Params.thumbUrl }}
            <img src="{{ .Params.thumbUrl }}" class="interest__img" alt="{{ .Title }}" loading="lazy" />
            {{ else  }}
            <img src="{{ .Params.imageUrl }}" class="interest__img" alt="{{ .Title }}" loading="lazy" />
            {{ end  }}
          </div>
          <h3 class="interest__title"><small>Take up</small> {{ .Params.interest }}</h3>
        </a>
        {{ end  }}
      </div>
    </div>
  </div>
</main>
{{ end  }}

