{{ define "main"  }}
<main aria-role="main">
  <div class="home">
    <div class="container">
      <div class="interests">
        {{ range (where (where .Site.RegularPages "Type" "interests") "Type" "!=" "casestudy")  }}
        <a class="interest" href="{{ .Permalink  }}">
          <div class="interest__thumb">
            {{ if .Params.thumbUrl }}
            <img src="{{ .Params.thumbUrl }}" class="interest__img" alt="{{ .Title }}" loading="lazy" />
            {{ else  }}
            <img src="{{ .Params.imageUrl }}" class="interest__img" alt="{{ .Title }}" loading="lazy" />
            {{ end  }}
          </div>
          <h3 class="interest__title"><small>Take up</small> {{ .Params.interest }}</h3>
        </a>
        {{ end  }}
      </div>
    </div>
  </div>
</main>
{{ end  }}

