<footer class="footer">
  <div class="container footer__container">
    <div class="footer__copy">
      <img src="/icon.svg" class="footer__icon" />
      <div>
        <nav class="footer__nav">
          <a href="#">Terms</a>
          <a href="#">Contact</a>
          <a href="#">Blog</a>
          <a href="#">Sitemap</a>
        </nav>
        <p class="flat">© 2020 Takeup.</p>
      </div>
    </div>
    <a href="https://instagram.com/takeupsomething" target="_blank" class="btn btn--block footer__action">Follow on Instagram</a>
  </div>
</footer>
