<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KZWM8KHSB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4KZWM8KHSB');
  </script>
  <title>{{ block "title" .  }}
    {{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}
    {{ end  }}</title>
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
  <meta name="robots" content="noodp"/>
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}" />
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex" /> 
  {{ end }}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
  <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" />
  <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

  <!-- OG data -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.imageUrl }}" />
  <meta content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" property="og:title">
  <meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description">
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
  {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}

  <link rel="icon" href="/favicon.svg">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-9ZfPnbegQSumzaE7mks2IYgHoayLtuto3AS6ieArECeaR8nCfliJVuLh/GaQ1gyM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet"> 
</head>
