<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KZWM8KHSB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4KZWM8KHSB');
  </script>
  <title>{{ block "title" .  }}
    {{- .Title | default .Site.Title -}}
    {{ end  }}</title>
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
  <meta name="robots" content="noodp"/>
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
  <meta name="twitter:title" content="{{ .Title }}{{ if .IsHome }} - {{ .Site.Params.Tagline }}{{ else }} - {{ .Site.Title }}{{ end }}" />
  <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />

  <!-- OG data -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.imageUrl }}" />
  <meta content="{{ .Title }}" property="og:title">
  <meta content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" property="og:description">
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ range .Params.categories }}<meta property="article:section" content="{{ . }}" />{{ end }}
  {{ if isset .Params "date" }}<meta property="article:published_time" content="{{ time .Date }}" />{{ end }}


  <link rel="icon" href="/favicon.svg">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js"></script>
</head>
