<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KZWM8KHSB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4KZWM8KHSB');
  </script>
  <title>{{ block "title" .  }}
    {{- .Title | default .Site.Title -}}
    {{ end  }}</title>
  <link rel="icon" href="/favicon.svg">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js"></script>
</head>
