<div class="search">
  <form action="" id="search" role="search">
    <input type="search" class="input" id="search-input" placeholder="Find an interest">
    <div class="search__results" id="search-results">
      <template id="search-result">
        <article class="content post">
          <h2 class="post-title"><a class="summary-title-link"></a></h2>
          <summary class="summary"></summary>
          <div class="read-more-container">
            <a class="read-more-link">Read More »</a>
          </div>
        </article>
      </template>
    </div>
  </form>
</div>
