<div class="social">
  <h4 class="small-caps social__title">Share this guide</h4>
  <div class="social__icons">
    <a
      href="https://twitter.com/share?ref_src=twsrc%5Etfw"
      class="social__link social__link--twitter"
      target="_blank"
      data-show-count="false">
      <i class="fab fa-twitter-square social__icon"></i>
    </a>
    <div
      class="fb-share-button social__link social__link--facebook"
      data-href="https://takeupsomething.com{{ .Params.url }}"
      data-layout="button"
      data-size="small">
      <a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftakeupsomething.com%2F{{ .Params.Url }}&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">
        <i class="fab fa-facebook-square social__icon"></i>
      </a>
    </div>
    <a
      target="_blank"
      class="social__link social__link--messenger hide-desktop"
      href="fb-messenger://share/?link=https://takeupsomething.com{{ .Params.url }}&app_id=804668730117775">
      <i class="fab fa-facebook-messenger social__icon"></i>
    </a>
    <a
      href="https://www.reddit.com/submit?url=https%3A%2F%2Ftakeupsomething.com{{ .Params.url }}"
      target="_blank"
      class="social__link social__link--reddit">
      <i class="fab fa-reddit social__icon"></i>
    </a>
  </div>
</div>
