{{ define "main"  }}
<main aria-role="main" class="single">
  <div class="container">
    <div class="single__grid">
      <div class="single__sidebar">
        <h1 class="title">Take up {{ .Title }}</h1>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <div class="single__hero">
          <img src="{{ .Params.imageUrl }}" class="" alt="{{ .Title }}" loading="lazy" />
        </div>
        <div class="single__intro">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</main>
{{ end  }}

