* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  color: #111;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight:400;
  scroll-behavior:smooth;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  font-size: 100%;
}

h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #E34614;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  background: #F5501C;
  color: #fff;
  font-weight: 700;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.small-caps {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 2;
  opacity: 0.6;
}

.unstyled {
  margin-left: 0;
  list-style: none;
}

.flat {
  margin-bottom: 0 !important;
}

.pressed {
  margin-bottom: 0.5rem !important;
}

.light {
  font-weight: 300;
}

.title {
  font-weight: 500;
  line-height: 1.2;
}

.logo {
  display: block;
  color: #111;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.1;
}

.logo p {
  opacity: 0.6;
  transition: opacity 200ms ease;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 125px;
}

.logo:hover p {
  opacity: 1;
}

.header {
  padding: 3rem 0 1rem 0;
}

.container {
  padding: 0 2rem;
  margin: auto;
  max-width: 71.875rem;
}

.interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 2rem;
  padding-top: 0;
}

.interest,
.interest a {
  text-decoration: none;
  display: block;
  color: inherit;
}

.interest:hover {
  text-decoration: none;
}

.related {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

.unrelated {
  column-count: 2;
  column-gap: 3rem;
  margin-left: 1rem;
}

.unrelated a {
  display: inline-block;
  padding: 0.25rem 0;
}

.unrelated span {
  color: #111;
}

.interest__thumb {
  display: block;
  padding-bottom: 100%;
  background: rgba(0,0,0,0.15);
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transform: translateZ(0);
  transition: transform 375ms ease;
  position: relative;
}

.interest__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.interest__title {
  line-height: 1.3;
  transition: color 375ms ease;
  font-weight: 700;
}

.interest__title small {
  display: block;
  font-size: 75%;
  font-weight: 400;
}

.interest:hover .interest__title {
  color: #E34614;
}

.interest:hover .interest__title small {
  color: initial;
}

.interest:hover .interest__thumb {
  transform: scale(1.025);
}

.contents {
  margin-bottom: 2rem;
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}

.contents ol {
  margin-left: 1em;
}

.contents a {
  display: inline-block;
  padding: 0.25rem 0;
}

.single__content {
  margin-bottom: 2rem;
}

.single__content h2 {
  margin-bottom: 0;
}

.single__content h3 {
  margin-bottom: 0;
}

.single__content a {
  display: inline-block;
  margin-top: 0.5rem;
}

.single__hero {
  padding-bottom: 56.25%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.single__date {
  margin-top: 0.5rem;
  opacity: 0.7;
}

.single__intro {
  margin-bottom: 1rem;
}

.single__hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single__header {
  margin-bottom: 2rem;
}

.items {
  margin-bottom: 2rem;
}

.item {
  transition: background 375ms ease;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top: 1px solid #ddd;
}

.author {
  margin-bottom: 1.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0,0,0,0.085);
}

.author__wrap {
  display: flex;
  align-items: center;
}

.author__content {
  flex: 1;
  line-height: 1.2;
}

.author__thumb {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 1rem;
}

.author__desc {
  margin-top: 0.5rem;
}

@media(min-width: 768px) {

  .single__hero {
    margin-bottom: 1rem;
  }

  .author {
    margin: 0;
    margin-bottom: 2rem;
    align-items: center;
    padding-right: 2rem;
    border-radius: 10px;
    border: 1px solid #eee;
  }

  .author__thumb {
    width: 120px;
    height: 120px;
    margin-right: 2rem;
  }

  .author__content {
    padding-right: 4rem;
  }

  .container {
    padding: 0 4rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .interests {
    grid-template-columns: repeat(4, 1fr);
  }

  .single__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 4rem;
  }

  .single__intro {
    font-size: 125%;
  }

  .single__related {
    margin-top: -0.5rem;
  }

  .item {
    padding: 1rem 0;
  }

}

@media(max-width: 767px) {
  .hide-mobile {
    display: none;
  }

  .single__hero {
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 0;
  }
}

@media(min-width: 1100px) {
  .interests {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media(min-width: 1600px) {
  .interests {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
  }
}
