{{ define "main" }}
<main class="main">
  <div class="container">
    <h1>Category: {{ .Title }}</h1>
    <div class="interests">
      {{ range .Paginator.Pages }}
      <a class="interest" href="{{ .Permalink  }}">
        <div class="interest__thumb">
          <img src="{{ .Params.imageUrl }}" class="interest__img" alt="{{ .Title }}" loading="lazy" />
        </div>
        <h3 class="interest__title"><small>Take up</small> {{ .Title  }}</h3>
      </a>
      {{ end  }}
    </div>
  </div>
</main>
{{ end }}
